<div class="text-left">
  <h2>Create Post</h2>

    <h3>Title</h3> 
    <div class="input-group input-group-lg">
        <input class="input" type="text" placeholder="What is this blog about?">
    </div>

    <h3>Content</h3> 
    <div class="input-group input-group-lg text-wrap">
        <input class="input" type="text" placeholder="What are your thoughts?">
    </div>


    <form class="form create-post-form mt-4" >
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="addpost">Create Post</button>
      </div>
    </form>

</div>

<script src="/js/createpost.js"></script>