<head>
    <title>Welcome to my Technology Blog! </title>
    
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>

<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="username" placeholder="Username" id="email-login">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="password-login">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success" id="sign-in">
      Login
    </button>
  </p>
</div><br>
  <h2><strong> 	&#128071; Not a member? Sign up Below! 	&#128071; </strong></h2>
  <br><br>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="username" placeholder="Username" id="new-username">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="new-pswd">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success" id="signup">
      Sign Up!
    </button>
  </p>
</div>


<script src="/js/login.js"></script>