<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" >
</head>
<section class="login">
    <article>
        <h2>Sign In</h2>
        <form class="login">
            <label for="signin-email">Email:</label>
            <input type="text" id="signin-email" placeholder="john123@gmail.com"/>

            <label for="username">Password:</label>
            <input type="password" id='password'/>
            <button id="sign-in" type="submit">Sign-In</button>
        </form>
    </article>
    <article>
         <h2>Sign Up</h2>
        <form class="signup-form">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="John Doe"/>

            <label for="new-username">Username:</label>
            <input type="text" id="new-username" placeholder="Enter Username here..."/>

            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Enter Email here.."/>

            <label for="new-pswd">Password:</label>
            <input type="password" id='new-pswd'/>
            <label for="new-pswd">Repeat Password:</label>
            <input type="password" id='repeat-pswd'/>
            
            <button id="sign-up" type="submit">Sign-Up</button>

        
        </form>
    </article>
</section>
<script src="js/login.js"></script>